body {
  margin: 0; }

.header-menu {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #E0E0E0;
  position: fixed;
  top: 0;
  z-index: 10;
  background: white; }
  .header-menu h1 {
    display: block;
    float: left;
    margin: 0 0 0 4%;
    color: #5c5c65;
    font-size: 24px;
    line-height: 70px; }
  .header-menu li:after {
    display: block;
    content: '';
    width: 0;
    border-top: 1px solid #a9a9b1;
    position: relative;
    top: -10px;
    left: 50%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
.header ul {
  padding: 0;
  margin: 15px 4% 0 0;
  float: right;
  height: 40px;
  cursor: pointer; }
.header .small-list {
  display: none;
  width: 60px;
  height: 60px;
  border: 1px solid #E0E0E0;
  position: fixed;
  top: 14px;
  right: 14px;
  margin: 0;
  z-index: 10;
  background: #FAFAFA;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-align: center; }
  .header .small-list:hover {
    background: white;
    -webkit-box-shadow: 0 0 5px 2px #E0E0E0;
    -moz-box-shadow: 0 0 5px 2px #E0E0E0;
    box-shadow: 0 0 5px 2px #E0E0E0; }
  .header .small-list li {
    width: 100%;
    margin: 0;
    line-height: 39px;
    font-size: 0;
    height: 0;
    display: none; }
    .header .small-list li:last-child {
      border: 0 !important; }
    .header .small-list li:hover:after {
      display: none; }
  .header .small-list i {
    display: block;
    width: 60%;
    height: 10%;
    margin: 17.5% 20%;
    background: darkgray; }
.header li {
  list-style: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-left: 15px;
  color: #5c5c65;
  letter-spacing: 1px;
  font-size: 18px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  position: relative; }
  .header li:after {
    display: block;
    content: '';
    width: 0;
    border-top: 1px solid #a9a9b1;
    position: relative;
    top: -10px;
    left: 50%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .header li:hover {
    color: #a9a9b1; }
    .header li:hover:after {
      left: 0;
      width: 100%; }
  .header li a {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%; }
.header .background {
  position: fixed;
  top: 70px;
  opacity: 1;
  z-index: -1;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s; }
  .header .background img {
    max-width: 100%;
    height: auto; }
  .header .background:nth-child(2) {
    opacity: 0; }

.body {
  position: absolute;
  top: 98%;
  width: 100%;
  background: white;
  text-align: center;
  color: #5c5c65; }
  .body .main-information {
    text-align: center;
    width: 550px;
    display: inline-block;
    margin-bottom: 20px; }
    .body .main-information p {
      width: 92%;
      margin-left: 4%;
      margin-bottom: 1rem;
      font-size: 12pt; }
  .body-row {
    width: 92%;
    margin: 0 0 0 4%;
    height: auto;
    clear: both; }
    .body-row .service {
      width: 48%;
      border: 1px solid #E0E0E0;
      background: #FAFAFA;
      float: left;
      margin: 10px 0; }
      .body-row .service img {
        max-width: 100%;
        height: auto;
        padding: 20px 20px 0 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      .body-row .service:nth-child(2n) {
        float: right; }
      .body-row .service hr {
        width: 80%;
        margin: 0 10% 0 10%;
        border: 1px solid #E0E0E0;
        border-bottom: 0; }
      .body-row .service p {
        display: block;
        width: 76%;
        margin-left: 12%; }
    .body-row .after-service {
      border-bottom: 1px solid #E0E0E0; }
      .body-row .after-service p {
        width: 810px;
        display: inline-block;
        margin: 60px 0 50px;
        font-size: 20pt; }
      .body-row .after-service .btn {
        margin: 0 10px 50px; }
    .body-row .contacts {
      display: inline-block; }
    .body-row-contacts {
      display: grid;
      grid-template-columns: 2fr 7fr;
      grid-template-rows: 90px 480px;
      grid-template-areas: "title title" "contacts location";
      grid-column-gap: 20px;
      margin-bottom: 40px; }
      .body-row-contacts .title {
        grid-area: title; }
      .body-row-contacts .contacts {
        border: 1px solid #E0E0E0;
        grid-area: contacts;
        background: #FAFAFA;
        height: 100%; }
        .body-row-contacts .contacts p {
          text-align: left;
          font-size: 18px;
          margin: 0;
          letter-spacing: 1;
          padding: 10px 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
      .body-row-contacts .location {
        border: 1px solid #E0E0E0;
        grid-area: location;
        background: #FAFAFA; }
    .body-row-information {
      border-top: 1px solid #E0E0E0;
      padding-top: 20px; }
      .body-row-information .information-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "title title" "left right";
        grid-column-gap: 20px; }
        .body-row-information .information-container .title {
          grid-area: title; }
        .body-row-information .information-container .left {
          grid-area: left; }
        .body-row-information .information-container .right {
          grid-area: right; }
        .body-row-information .information-container p {
          text-align: justify;
          font-size: 19px; }
        .body-row-information .information-container h2 {
          font-size: 20px;
          letter-spacing: 1;
          margin: 15px 0 10px 0; }

.footer {
  height: 40px;
  border: 1px solid #E0E0E0;
  position: relative; }
  .footer span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px; }

.btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 20px 0 20px 0;
  line-height: 50px;
  border: 1px solid #E0E0E0;
  font-size: 12pt;
  background: #FAFAFA;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .btn:hover {
    background: white;
    -webkit-box-shadow: 0 0 5px 2px #E0E0E0;
    -moz-box-shadow: 0 0 5px 2px #E0E0E0;
    box-shadow: 0 0 5px 2px #E0E0E0; }

h2 {
  font-size: 16pt;
  font-weight: 700;
  letter-spacing: 1px; }

@media screen and (max-width: 750px), screen and (orientation: portrait) {
  .body-row {
    width: 86%;
    margin: 0 0 0 7%; }
    .body-row-information .information-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas: "title" "left" "right"; }
      .body-row-information .information-container .left {
        margin: 10px 0 0; }
      .body-row-information .information-container .right {
        margin: 0 0 10px; }

  .service {
    width: 100% !important; }
    .service:nth-child(2n) {
      float: left !important; }

  .header-menu {
    position: fixed;
    height: 90px;
    z-index: auto; }
    .header-menu h1 {
      line-height: 90px; }

  .header .small-list {
    display: block; }
  .header .big-list {
    display: none; }

  .main-information, .after-service p {
    width: 92% !important;
    margin-left: 4% !important; } }
@media screen and (max-width: 930px), screen and (orientation: portrait) {
  .body {
    top: 65vw; } }
@media screen and (max-width: 1000px) {
  .body-row-contacts {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title" "contacts" "location";
    grid-row-gap: 10px; }
    .body-row-contacts .title p {
      margin: 5px 0; }
    .body-row-contacts .title h2 {
      margin: 10px 0; }
    .body-row-contacts .contacts p {
      display: inline-block;
      font-size: 16px; } }
@media screen and (max-width: 830px) {
  .body-row-contacts .contacts p {
    font-size: 14px;
    padding: 8px 2px; } }
@media screen and (max-width: 740px) {
  .body-row-contacts .contacts p {
    font-size: 12px; } }

/*# sourceMappingURL=style.css.map */
