<link rel="stylesheet" href="assets/styles/portfolio.css">
<script src="assets/js/jquery.touchSwipe.min.js"></script>
<script src="assets/scripts/portfolio.js"></script>

<!--<div class="image-shower">-->
<div class="image-shower" style="display: none">
    <div class="loader">
        <div class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <span class="paginator-left paginator">
        <img src="assets/imgs/icons/pagination.png" style="transform: rotate(180deg)">
    </span>
    <img class="photo" src="">
    <span class="paginator-right paginator">
        <img src="assets/imgs/icons/pagination.png">
    </span>
</div>

<div class="row justify-content-center">
    <div class="col-md-10">
        <ul class="navigation nav nav-tabs">
            <li class="nav-item">
                <a class="navigation__main nav-link {{#if individual}}active{{/if}}" style="cursor: pointer">Индивидуальная</a>
            </li>
            <li class="nav-item">
                <a class="navigation__main nav-link {{#if pair}}active{{/if}}" style="cursor: pointer">Парная</a>
            </li>
            <li class="nav-item">
                <a class="navigation__beauty nav-link {{#if beauty}}active{{/if}}" style="cursor: pointer">Бьюти</a>
            </li>
            <li class="nav-item">
                <a class="navigation__else nav-link {{#if retouch}}active{{/if}}" style="cursor: pointer">Ретушь</a>
            </li>
        </ul>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="portfolio">
            <div class="portfolio__container">
                <div class="portfolio__individual"
                     {{#if individual}}style="transform: translateX(0)"{{/if}}
                     {{#if beauty}}style="transform: translateX(-100%)"{{/if}}
                     {{#if pair}}style="transform: translateX(-200%)"{{/if}}
                     {{#if retouch}}style="transform: translateX(-300%)"{{/if}}>
                    <div class="portfolio__individual_photos">
                        {{#initPortfolioIndividual}}{{/initPortfolioIndividual}}
                    </div>
                </div>
                <div class="portfolio__pair"
                     {{#if individual}}style="transform: translateX(0)"{{/if}}
                     {{#if beauty}}style="transform: translateX(-100%)"{{/if}}
                     {{#if pair}}style="transform: translateX(-200%)"{{/if}}
                     {{#if retouch}}style="transform: translateX(-300%)"{{/if}}>
                    <div class="portfolio__pair_photos">
                        {{#initPortfolioPair}}{{/initPortfolioPair}}
                    </div>
                </div>
                <div class="portfolio__beauty"
                     {{#if individual}}style="transform: translateX(0)"{{/if}}
                     {{#if beauty}}style="transform: translateX(-100%)"{{/if}}
                     {{#if pair}}style="transform: translateX(-200%)"{{/if}}
                     {{#if retouch}}style="transform: translateX(-300%)"{{/if}}>>
                    <div class="portfolio__beauty_photos">
                        {{#initPortfolioBeauty}}{{/initPortfolioBeauty}}
                    </div>
                </div>
                <div class="portfolio__retouch"
                     {{#if individual}}style="transform: translateX(0)"{{/if}}
                     {{#if beauty}}style="transform: translateX(-100%)"{{/if}}
                     {{#if pair}}style="transform: translateX(-200%)"{{/if}}
                     {{#if retouch}}style="transform: translateX(-300%)"{{/if}}>>
                    <div class="portfolio__retouch_photos">
                        {{#initPortfolioRetouch}}{{/initPortfolioRetouch}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="node_modules/cocoen/dist/js/cocoen.min.js"></script>
<script src="node_modules/cocoen/dist/js/cocoen-jquery.min.js"></script>
<link rel="stylesheet" href="node_modules/cocoen/dist/css/cocoen.min.css">