<link rel="stylesheet" href="assets/styles/pricelist.css">
<script src="assets/scripts/pricelist.js"></script>

<div class="row justify-content-center">
    <div class="col-md-10 list">
        <div class="list__item">
            <div>
                <b class="list__item_title">Индивидуальная съемка</b>
                <b class="list__item_price">3000&#x20BD;</b>
                <img class="list__item_cross" src="assets/imgs/icons/x.png">
            </div>
            <p>
                В стоимость входит составление идеи, подбор образа а также подбор
                локации или студии. В конечном итоге Вы получаете 25 самых удачных
                фотографий в цветокоррекции и легкой ретуши.
            </p>
        </div>
        <div class="list__item">
            <div>
                <b class="list__item_title">Парная съемка</b>
                <b class="list__item_price">3500&#x20BD;</b>
                <img class="list__item_cross" src="assets/imgs/icons/x.png">
            </div>
            <p>
                В стоимость входит составление идеи, подбор образа а также подбор
                локации или студии. В конечном итоге Вы получаете 25 самых удачных
                фотографий в цветокоррекции и легкой ретуши.
            </p>
        </div>
        <div class="list__item">
            <div>
                <b class="list__item_title">Бьюти съемка</b>
                <b class="list__item_price">10000&#x20BD;</b>
                <img class="list__item_cross" src="assets/imgs/icons/x.png">
            </div>
            <p>
                В стоимость входит составление идеи, подбор образа, поиск
                профессионального визажиста а также подбор локации или студии. В
                конечном итоге Вы получаете 15 фотографий в детальной ретуши и
                цветокоррекции.
            </p>
        </div>
        <div class="list__item">
            <div>
                <b class="list__item_title">Ретушь</b>
                <b class="list__item_price">от 1000&#x20BD;</b>
                <img class="list__item_cross" src="assets/imgs/icons/x.png">
            </div>
            <p>
                Ретушь фотографий - комплексный процесс. В зависимости от Ваших
                целей, цена ретуши может варьироваться. Минимальная цена за
                редактирование одной фотографии - 1000 рублей.
            </p>
        </div>
        <div class="list__item">
            <div>
                <b class="list__item_title">Дополнительно</b>
                <b class="list__item_price"></b>
                <img class="list__item_cross" src="assets/imgs/icons/x.png">
            </div>
        </div>
    </div>
</div>