$font_color: #5c5c65;
$border_color: #E0E0E0;
$service_background: #FAFAFA;

@font-face {
    font-family: 'East See Dokdo Cyrillic';
    src: url(assets/fonts/EastSeeDokdoCyrillic.otf);
}

@font-face {
    font-family: Gotham;
    src: url(assets/fonts/Gotham.otf);
}

@font-face {
  font-family: Hortensia;
  src: url(assets/fonts/Hortensia.ttf);
}