.list {
  margin-bottom: 20px;

  &__item {
    cursor: pointer;
    padding: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-bottom: 1px;
    max-height: 56px;
    transition-duration: 0.5s;
    overflow: hidden;

    & > div {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &_price {
      margin: 0 15px 0 auto;

      .sale {
        opacity: 0.8;
        text-decoration: line-through;
      }

      &:after {
        content: ' ₽';
        font-weight: normal;
      }

      &.__empty:after{content: '';}
    }

    &_cross {
      height: 23px;
      width: 23px;
      padding: 3px;
      border: 1px solid #E0E0E0;
      border-radius: 50%;
      transform: rotate(45deg);
      transition-duration: 0.5s;
    }

    &.active &_cross {transform: rotate(0);}
  }
}

.action {
  font-size: 14px;
  padding: 12px 25px 12px 20px;

  &__close {
    position: absolute;
    top: 5px;
    right: 7px;

    &:focus {
      outline: none;
    }
  }
}

.conditions {
  &__title {margin: 20px 0;}

  &__text {
    text-align: justify;
    text-indent: 2em;
    margin-bottom: 12px;
  }
}

.faq {
  margin-top: 10px;
  max-width: 600px;

  &__block {
    transition-duration: 1s;
    overflow: hidden;
    padding: 8px 15px;
    border: 1px solid #E0E0E0;
    margin: -1px;
    cursor: pointer;

    &_title {
      position: relative;
      display: block;
      padding-right: 15px;
    }

    &_arrow {
      position: absolute;
      top: 10px;
      right: 0;

      &:before, &:after {
        display: block;
        content: '';
        width: 10px;
        height: 3px;
        background: #E0E0E0;
        position: relative;
      }

      &:before {
        transform: rotate(45deg);
        left: -3px;
      }

      &:after {
        transform: rotate(-45deg);
        right: -3px;
        top: -3px;
      }
    }
  }
}

.row {margin-bottom: 20px;}

@media screen and (max-width: 450px) {
  .conditions {
    &__title {font-size: 24px;}
    &__text {font-size: 14px;}
  }

  .faq {
    &__title {font-size: 24px;}
    p {font-size: 14px;}
  }
  .list__item {font-size: 14px;}
  .action {font-size: 12px;}
}

@media screen and (max-width: 350px) {
  .list__item {
    font-size: 13px;

    &_price {
      margin-right: 5px;
    }
  }
}