$border_color: #E0E0E0;
$message_block_length: 300px;

.contacts {
  margin-top: 20px;

  &__links {
    display: flex;
  }

  &__link {
    max-width: 35px;
    margin: -10px 12px 0 0;
  }

  &__message {
    margin-bottom: 20px;

    &_field {
      position: relative;
      margin-bottom: 10px;
      cursor: text;

      &:after, &:before{
        display: block;
        content: '';
        width: 0;
        border-top: 2px solid #3399FF;
        position: relative;
        transition-duration: 0.3s;
      }
      &:after {bottom: 1px;}
      &:before {
        top: 1px;
        left: $message_block_length;
      }

      &:hover {
        &:after, &:before {
          width: $message_block_length;
        }
        &:before {left: 0;}

        & > div {
          &:before {
            top: 2px;
            height: calc(100% - 5px);
          }
          &:after {
            height: calc(100% - 5px);
          }
        }
      }

      & > div {
        &:before, &:after {
          display: block;
          content: '';
          border-right: 2px solid #3399FF;
          position: absolute;
          transition-duration: 0.3s;
          height: 0;
        }
        &:before {
          left: 0;
          top: calc(100% - 3px);
        }
        &:after {
          left: 298px;
          top: 2px;
        }
      }
    }

    &_input {
      padding: 2px 5px;
      width: $message_block_length;
      border: 1px solid $border_color;
    }

    &_submit {
      background: white;
      width: $message_block_length;
      border: 1px solid $border_color;

      &:focus {
        outline: none;
      }
    }

    &_error {
      width: $message_block_length;
      font-size: 12px;
      margin-top: 10px;
      display: none;
    }
  }

  .loader {
    width: auto;
    height: auto;
    position: absolute;
    top: 7px;
    left: 300px;
    display: none;
  }
}

.intro {
	&__title {margin: 10px 0 15px;}
}

img.copy {
  position: relative;
  top: -2px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .contacts__column {
    margin-bottom: 25px;
  }
}
